    a {
        color: #43a1d6;
        text-decoration: none;
    }
    body {
      color: rgb(106, 106, 106);
      text-align: center;
      font-weight: normal;
      background: none repeat scroll 0% 0% rgb(250, 250, 250);
    }
    div#container {
      position: absolute;
      top: 80px;
      padding-top: 170px;
      margin: 0px 0px 0px -196px;
      left: 50%;
      width: 390px;

      background: url("cern_logo.png") no-repeat scroll center 35px padding-box rgb(255, 255, 255);
      border: 1px solid rgb(225, 225, 225);

      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;

      box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
    }
    h2 {
      font-weight: normal;
    }
    div#container > div {
      padding: 25px;
    }

